# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example: exclude all .RData files in subdirectories
**/.RData

# Temporary files created by R markdown / knitr
*.knit.md
*.utf8.md

# RStudio files
.Rproj.user/

# Windows desktop ini
Thumbs.db
ehthumbs.db
Desktop.ini
